fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic[email]
pydantic-settings
psycopg2-binary
pytest
python-jose[cryptography]
passlib
python-multipart
boto3
structlog
asgi-correlation-id
celery
redis
PyJWT[crypto]
requests
